body {
    background-color: white;
}

.wrapper {
    max-width: 981px;
    margin: auto;
}

header {
    background-image: url(../img/backgrnd-up.jpg), url(../img/backgrnd-gray.png);
    background-position: left top, left bottom;
    background-repeat: no-repeat, repeat;
    position: relative;
}

.header {
    //padding-bottom: 50px;
    // padding-top: 25px;
}

.smartphone {
    width: 30%;
    display: inline-block;
    vertical-align: bottom;
}

.smartphone img {
    max-width: 100%;
}

.logo {
    max-width: 100%;
    //margin-bottom: 50px;
}

.hero {
    display: inline-block;
    width: 60%;
    margin-left: 10%;
    vertical-align: bottom;
}

.motto {
    font-family: "Oswald", Arial, sans-serif;
    font-size: 4em;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px #464646;
    text-transform: uppercase;
    //margin-bottom: 60px;
}

.motto__text p {
    font-size: 1.4em;
}

.motto > p > em {
    color: #fcce00;
}

.motto__text {
    font-family: "Open sans", Arial, sans-serif;
    color: white;
    text-shadow: 1px 1px #464646;
    font-size: 18px;
}

.counter {
    max-height: 70px;
    padding-top: 10px;
    padding-bottom: 8px;
}

h1 {
    font-family: "Oswald", Arial, sans-serif;
    font-weight: 700;
    color: #212222;
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 63px;
    letter-spacing: -0.03em;
}

.circle {
    text-align: center;
}

.circle2 {
    border: 16px;
    background-color: white;
    width: 174px;
    height: 174px;
    border-radius: 103px;
    border-color: #53b8ee;
    border-style: solid;
    margin-bottom: 40px;
    display: inline-block;    
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.3);
    position: relative;
    transition: transform 0.5s;
    z-index: 100;
        
}

.circle2__arrow {
    display: inline;
    z-index: 99;
}

.circle2__arrow img {
    margin-bottom: 36px;
}    
    
.circle-icon {
    margin-top: 18px;
}

.circle-text {
    font-family: "Oswald", Arial, sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: black;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 14px;
    letter-spacing: normal;
}

.circle-small-text {
    font-family: "Oswald", Arial, sans-serif;
    font-size: 16px;
    color: black;
}

.circle2:hover {
    transform: scale(1.33);
    border-color: #fcce00;
    background-color: #fffbe8;
}

.slider {
    margin: 100px auto 110px auto;
    position: relative;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}

.slide img {
    width: 100%;
}

.slider__text {
    position: absolute;
    left: 614px;
    top: 150px;
    max-width: 24%;
    max-height: 20%;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 1.17em;
    font-style: italic;
    letter-spacing: -0.03em;
    line-height: 1.8em;
}

.slider .prev,
.slider .next {
    display: block;
    height: 100%;
    width: 80px;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
}

.slider .prev {
    left: 10px;
    background-image: url(../img/slider-left.png);
    background-size: 90%;
}

.slider .next {
    right: 10px;
    background-image: url(../img/slider-right.png);
    background-size: 90%;
}

.slider .pagination {
    position: absolute;
    top: 100%;
    text-align: center;
    width: 100%;
}

.slider .pagination span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
/*    border: 1px solid grey;*/
    background: grey;
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.3);
}

.slider .pagination span.active {
    background: white;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid grey;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}

.wroc {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 0.6em;
    background-image: url(../img/pattern.png);
    text-align: right;
}

.wroc__text {
    display: inline-block;
    font-weight: bold;
    margin: 1%;
    font-size: 1.2em;
    font-style: italic;
    font-weight: bolder;
    
}

.wroc__text a {
    text-decoration: none;
    color: black;
}

.footer__glowny {
    background-image: url(../img/footer-darkgray.png);
    padding: 5px 5px 20px 5px;
    border-bottom: 10px solid rgba(255,255,255,0.03);

}

.footer__twitter {
        font-family: "Open Sans", Arial, sans-serif;
    color: #d9d9d9;
    width: 28%;
    display: inline-block;
    margin: 1%;
        text-shadow: 1px 1px black;
        font-size: 14px;
        vertical-align: top;
}

.footer__heading {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 2.5em;
    font-style: italic;
    letter-spacing: -0.03em;
    line-height: 1.5em;
    text-shadow: 1px 1px black;
    margin-top: 14px;
    margin-bottom: 10px;
}

.footer_twitter p {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1.2em;
    letter-spacing: -0.03em;
    line-height: 1.5em;
    text-shadow: 1px 1px red;
}

.footer__twitter__meta {
    margin-top: 8px;
    margin-bottom: 12px;
    font-style: italic;
    color: #a6a5a5;
    letter-spacing: -0.00em;
}

.footer__twitter a { 
    color: #a6a5a5;
    text-decoration: none;
}

.footer__twitter hr {
    color: red;
}

.footer__onas {
    vertical-align: top;
    font-family: "Open Sans", Arial, sans-serif;
    color: #d9d9d9;
    font-size: 14px;
    width: 59%;
    text-align: right;
    display: inline-block;
    text-shadow: 1px 1px black;
    margin: 1% 1% 1% 10%;
}

.footer__samdol {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 0.6em;
}

.footer__copyright {
    display: inline-block;
    width: 49%;
    text-align: left;
    font-weight: bold;
    margin: 1% 0 1% 1%;
    font-size: 1.2em;
}

.footer__wszelkie {
    display: inline-block;
    width: 49%;
    text-align: right;
    font-weight: bold;
    margin: 1% 1% 1% 0;
    font-size: 1.2em;
}