body {
    background-color: white;
}

.wrapper {
    max-width: 981px;
    margin: auto;
}

header {
    background-image: url(../img/backgrnd-up.jpg), url(../img/backgrnd-gray.png);
    background-position: left top, left bottom;
    background-repeat: no-repeat, repeat;
    // height: 100vh;
    position: relative;
}

.header {
    padding-top: 20px;
}

.smartphone {
    // background-image: url(../img/smartphone.png);
    width: 30%;
    // height: 711px;
    // position: absolute;
    // left: 353px;
    // bottom: 0px;
    display: inline-block;
    vertical-align: bottom;
}

.smartphone img {
    max-width: 100%;
}

.logo {
    // background-image: url(../img/logo.png);
    // width: 625px;
    // height: 133px;
    max-width: 100%;
    margin-bottom: 50px;
    // background-size: 100%;
    // position: absolute;
    // left: 681px;
    // top: 50px;
}

.hero {
    display: inline-block;
    width: 60%;
    margin-left: 10%;
    vertical-align: bottom;
}

.motto {
    font-family: "Oswald", Arial, sans-serif;
    font-size: 3em;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px #464646;
    text-transform: uppercase;
    margin-bottom: 100px;
    // left: 737px;
    // top: 245px;
    // position: absolute;
}

.motto__text {
    font-size: 100px;
    // position: absolute;
    // left: 737px;
    // bottom: 205px;
    margin-bottom: 50px;
}

.motto > p > em {
    color: #fcce00;
}

.motto__text {
    font-family: "Open sans", Arial, sans-serif;
    color: white;
    text-shadow: 1px 1px #464646;
    font-size: 18px;
}

h1 {
    font-family: "Oswald", Arial, sans-serif;
    font-weight: 700;
    color: #212222;
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 63px;
}

.circle {
    text-align: center;
}

.circle2 {
    border: 16px;
    background-color: white;
    width: 174px;
    height: 174px;
    border-radius: 103px;
    border-color: #53b8ee;
    border-style: solid;
    margin-bottom: 40px;
    display: inline-block;    
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.2);
    position: relative;
    transition: transform 0.5s;
}

.circle2 + .circle2 {
    margin-left: 20px;
}

.circle2:after {
    content: '>';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
}

.circle-icon {
    margin-top: 24px;
}

.circle-text {
    font-family: "Oswald", Arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: black;
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom: 18px;
}

.circle-small-text {
    font-family: "Oswald", Arial, sans-serif;
    font-size: 16px;
    color: black;
}

.circle2:hover {
    transform: scale(1.2);
    border-color: yellow;
}

.slider {
    margin: 130px auto 110px auto;
    position: relative;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}

.slide img {
    width: 100%;
}

.slider .prev,
.slider .next {
    display: block;
    height: 100%;
    width: 50px;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
}

.slider .prev {
    left: 0;
    background-image: url();
}

.slider .next {
    right: 0;
    background-image: url();
}

.slider .pagination {
    position: absolute;
    top: 100%;
    text-align: center;
    width: 100%;
}

.slider .pagination span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    border: 1px solid grey;
}

.slider .pagination span.active {
    background: grey;
}

.wroc {
    background-color: gray;
    height: 40px;
    width: 100%;
}

.wroc__text {
    background-color: pink;
    color: darkgray;
    max-width: 980px;
    margin: auto;
    text-align: right;
}

.footer__glowny {
    background-image: url(../img/footer-darkgray.png);
    padding: 5px 5px 20px 5px;
    border-bottom: 20px solid rgba(255,255,255,0.08);
}

.footer__twitter {
    color: white;
    width: 30%;
    display: inline-block;
}

.footer__heading {
    
}

.footer_twitter p {
    
}

.footer__twitter__meta {
    
}

.footer__onas {
    color: white;
    width: 60%;
    margin-left: 10%;
    text-align: right;
    display: inline-block;
}

.footer__samdol {
    // max-width: 1700px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 0.6em;
}

.footer__copyright {
    display: inline-block;
    width: 50%;
    text-align: left;
}

.footer__wszelkie {
    display: inline-block;
    width: 50%;
    text-align: right;
}